<h3><%= t('services.titles.title') %></h3>
<hr>
<div class="row-fluid">
  <div class="span4">
    <h4><%= t('services.titles.tehablo') %></h4>
    <p><%= t('services.text.tehablo_html') %></p>

  </div>
  <div class="span4">
    <h4><%= t('services.titles.followme') %></h4>
    <p><%= t('services.text.followme_html') %></p>

  </div>
  <div class="span4">
    <h4><%= t('services.titles.access_numbers') %></h4>
    <p><%= t('services.text.to_make_call') %></p>
    <%= t('services.text.access_numbers_html') %>
  </div>
</div>