<header id="header">
  <div class="container">
    <div class="logo">
      <a href="index.html" id="logo" title="Te Hablo">TeHablo</a>

      <h2>ganar dinero es más fácil</h2>
    </div>
    <nav id="menu">
      <ul>
        <li><%= link_to "Beneficios", sites_features_path %></li>
        <li><%= link_to "Contacto", sites_contact_path %> </li>
        <li><%= link_to "Mi Cuenta", dashboard_index_path %> </li>
      </ul>
    </nav>
    <!-- / navigation -->
    <div class="menu-trigger"></div>
    <nav id="menu-mobile">
      <ul>
        <li><%= link_to "Beneficios", sites_features_path %></li>
        <li><%= link_to "Contacto", sites_contact_path %> </li>
        <li><%= link_to "Mi Cuenta", dashboard_index_path %> </li>
      </ul>
    </nav>
    <!-- / navigation -->
  </div>
  <!-- / container -->
</header>
<!-- / header -->